body{
    background:linear-gradient(45deg,#4facfe,#00f2fe);
    text-align:center;
    font-family:Arial;
    color:white;
    margin-top:80px;
}

h1{
    font-size:45px;
}

input{
    width:180px;
    padding:12px;
    font-size:20px;
    border-radius:10px;
    border:none;
    text-align:center;
}

button{
    padding:12px 25px;
    margin:10px;
    font-size:20px;
    border:none;
    border-radius:10px;
    background:orange;
    color:white;
}

button:hover{
    background:#ff6600;
}
